<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty name="SpringAppName" source="spring.application.name"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss z}] %p [Service Name -> ${SpringAppName}] \n      &lt;%t&gt; %logger : %m%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </layout>
    </appender>


    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
